<article>

  <header>
    <h1>S E T I KA . M E</h1>
    <span id="slogan">
      <span>effective</span>
      <span>·</span>
      <span>agile</span>
      <span>·</span>
      <span>valid</span>
    </span>
  </header>
  
  <p>Hello,</p>
  
  <p>My name is Evan, I am a freelance web developer. I am passionate about web programming and finding elegant solutions to challenging problems. Additionally I do web presence consulting. Get in contact with me to put your best foot forward on the world wide web.</p>
  
  <div id="contact">
    <span id="phone">( 925 ) 262 - 3629</span>
    <span id="email"><a href="mailto:evan@setika.me">evan@setika.me</a></span>
  </div>
  
  <h3>Latest Project:</h3>
  
  <div id="projects">
    <a href="http://www.hellerjewelers.com">
      <img src="/images/hj_prev.png" />
    </a>
  </div>
</article>