@import url(http://fonts.googleapis.com/css?family=Josefin+Sans:300,600,300italic);
@import "/css/normalize.css";

// vars #440075

$primary: #440075;
$primary-dark: darken($primary, 10%);

html { height: 100%; }
body {
  font-family: 'Josefin Sans', sans-serif;
  background: url(/images/wallpaper.jpg) top repeat;
  border-top: solid 10px $primary;
  border-bottom: solid 10px $primary;
  a {
  color: $primary;
  &:visited { color: $primary-dark; }
  }
}

#content {
  width: 480px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 140px;
  margin-bottom: 140px;
  background: url(/images/background.jpg) top repeat;
  border-width: 10px;
  border-style: solid;
  border-color: $primary;
}

article {
  padding: 1em;
}

header {
  position:relative;
  h1 { 
    margin: 0px;
    display: inline;
  }
  #slogan {
    position: absolute;
    right: 0px;
    padding: 0;
    margin: 6px 0 0 50px;
    span {
      margin: 0 5px;
    }
  }
  
}