@import url(http://fonts.googleapis.com/css?family=Josefin+Sans:300,600,300italic);
@import "/css/normalize.css";

html { height: 100%;}
body {
  font-family: 'Josefin Sans', sans-serif;
  background: url(/images/wallpaper.jpg) top repeat;
  border-top: solid 10px navy;
  border-bottom: solid 10px navy;
  a {color: navy;}
}

#content {
  width: 480px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 140px;
  margin-bottom: 140px;
  background: url(/images/background.jpg) top repeat;
  border-width: 10px;
  border-style: solid;
  border-color: navy;
  
  article {
    padding: 1em;
    h1 { margin: 0px;}
  }
}