@import url(http://fonts.googleapis.com/css?family=Josefin+Sans:300,600,300italic);
@import "/css/normalize.css";

// vars #440075

$primary: #440075;
$primary-dark: darken($primary, 10%);
$main-width: 10px;

@mixin border( $width ) {
  border-width: $width;
  border-style: solid;
  border-color: $primary;
}

@mixin center {
  margin-left: auto;
  margin-right: auto;
}

@mixin shadow {
	-webkit-box-shadow: 0 3px 6px rgba(0,0,0,.25);
	-moz-box-shadow: 0 3px 6px rgba(0,0,0,.25);
}

html { height: 100%; }
body {
  font-family: 'Josefin Sans', sans-serif;
  background: #fff url(/images/wallpaper.jpg) top repeat;
  border-top: solid $main-width $primary;
  border-bottom: solid $main-width $primary;
  min-height: 100%;
}

#content {
  @include center;
  @include border($main-width);
  width: 480px;
  margin-top: 140px;
  margin-bottom: 140px;
  background: url(/images/background.jpg) top repeat;
}

article {
  padding: 1em;
  a {
    color: $primary;
    &:visited { color: $primary-dark; }
    }
  #projects {
    text-align: center;
    img {
      @include border($main-width/2);
      @include center;
      @include shadow;
    }
  }
}

header {
  position: relative;
  h1 { 
    margin: 0px;
    display: inline;
  }
  #slogan {
    position: absolute;
    right: 0px;
    margin-top: 6px;
    span { margin: 0 5px; }
  }
  
}

#contact {
  text-align: center;
  span {
    display: inline-block;
    width: 40%; 
  }
}